* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* 제목/주제 */
.header {
  padding: 1px;
  text-align: center;
  background: black;
  overflow: auto;
}

.header h1 {
  position:  relative;
  bottom: 1vw;
  left: 0vw;
  font-size: 3vw;
  color: white;
}

.header img{
	position:  absolute;
	top: 2.2vw;
	right: 34vw;
  font-size: 3vw;
	float: right;
}

.header a{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2vw 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 3vw 1vw;
  float: left;
  overflow: auto;
  position: absolute;
  bottom: 37vw;
  left: 1vw;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: ivory;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: ivory;
  width: 100%;
  padding: 20px;
  float: right;
  overflow: auto;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.footer a {
   padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}